Repository mitrefireline/simfire: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, isort

black:
  name: black
  entry: black
  language: python

mypy:
  name: mypy
  language: python
  entry: mypy
  args:
  - --config-file
  - .mypy.ini

isort:
  name: isort
  language: python
  entry: isort
  args:
  - --trailing-comma
  - -m=3

Add year to all config files
  configs/build_wind_config.yml
  configs/functional_config.yml
  configs/mix_config.yml
  simfire/utils/_tests/test_configs/test_config_flat_simple.yml
  simfire/utils/_tests/test_configs/test_config_gaussian.yml
  simfire/utils/_tests/test_configs/test_config_rothermel_manager.yml
Due: none

Add ability to choose data directory location
  configs/build_wind_config.yml
  configs/functional_config.yml
  configs/mix_config.yml
  configs/operational_config.yml
  poetry.lock
  pyproject.toml
  simfire/utils/_tests/test_configs/test_config.yml
  simfire/utils/_tests/test_configs/test_config_flat_simple.yml
  simfire/utils/_tests/test_configs/test_config_gaussian.yml
  simfire/utils/_tests/test_configs/test_config_rothermel_manager.yml
  simfire/utils/_tests/test_layers.py
  simfire/utils/config.py
  simfire/utils/layers.py
Due: black, mypy, isort

Add installing libgl to GitLab CI
  .gitlab-ci.yml
Due: none

Add resize to Topography data as well
  simfire/utils/layers.py
Due: black, mypy, isort

Update coverage to not get hung up on report errors
  .gitlab-ci.yml
Due: none

Deploying to gh-pages from @ mitrefireline/simfire@6628dfc6f2f226b9f7ed1237865d84c0b0bf7f66 🚀
  _sources/autoapi/simfire/utils/config/index.rst.txt
  _sources/autoapi/simfire/utils/layers/index.rst.txt
  _sources/config.md.txt
  autoapi/simfire/utils/config/index.html
  autoapi/simfire/utils/layers/index.html
  config.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Change pyproject.toml version to 1.4.33
  pyproject.toml
Due: none

Use actual MIN/MAX values for fuel
  simfire/enums.py
  simfire/sim/simulation.py
Due: black, mypy, isort

Update config with config_dict argument
  simfire/utils/_tests/test_config.py
  simfire/utils/config.py
  simfire/utils/terrain.py
Due: black, mypy, isort

Move path to first arg in Config
  simfire/utils/_tests/test_config.py
  simfire/utils/config.py
Due: black, mypy, isort

Update terrain tests to reflect new values
  simfire/utils/_tests/test_terrain.py
Due: black, isort

Deploying to gh-pages from @ mitrefireline/simfire@e8787a723b70acd638237653029c07c2d26ba29d 🚀
  _sources/autoapi/simfire/enums/index.rst.txt
  _sources/autoapi/simfire/utils/config/index.rst.txt
  _sources/autoapi/simfire/utils/terrain/index.rst.txt
  autoapi/simfire/enums/index.html
  autoapi/simfire/utils/config/index.html
  autoapi/simfire/utils/terrain/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Change pyproject.toml version to 1.4.34
  pyproject.toml
Due: none

Updat CI and README
  .gitlab-ci.yml
  README.md
Due: none

Update CI with correct quoting
  .gitlab-ci.yml
Due: none

Update intro and contributing docs pages
  docs/source/contributing.md
  docs/source/intro.md
Due: none

Update GitLab CI to only tag on package changes
  .gitlab-ci.yml
Due: none

Change M_X_MIN to 0.12 (ShortGrass)
  simfire/enums.py
Due: black, mypy, isort

Deploying to gh-pages from @ mitrefireline/simfire@c09d57f5fc84a2ed1862c62ae2247ab761689293 🚀
  _sources/autoapi/simfire/enums/index.rst.txt
  _sources/contributing.md.txt
  _sources/intro.md.txt
  autoapi/simfire/enums/index.html
  contributing.html
  intro.html
  searchindex.js
Due: none

Allow fire_initial_position to be a Tuple/List
  simfire/utils/config.py
Due: black, mypy, isort

Change pyproject.toml version to 1.4.35
  pyproject.toml
Due: none

Change pyproject.toml version to 1.4.36
  pyproject.toml
Due: none

Changing MAX to MIN for "min" values
  simfire/sim/simulation.py
Due: black, mypy, isort

Change pyproject.toml version to 1.4.37
  pyproject.toml
Due: none

updates fuel and topography layer creation and tests
  simfire/utils/_tests/test_layers.py
  simfire/utils/layers.py
Due: black, mypy, isort

Make rate_of_spread a class attribute
  simfire/game/managers/fire.py
Due: black, mypy, isort

Deploying to gh-pages from @ mitrefireline/simfire@fe8a5ce0a8c4c32a18c083a8b503c3237aa57649 🚀
  autoapi/simfire/game/game/index.html
  autoapi/simfire/game/managers/fire/index.html
  autoapi/simfire/game/managers/mitigation/index.html
  autoapi/simfire/game/sprites/index.html
  autoapi/simfire/sim/simulation/index.html
  autoapi/simfire/utils/graph/index.html
  autoapi/simfire/utils/units/index.html
  autoapi/simfire/world/rothermel/index.html
  autoapi/simfire/world/wind_mechanics/cfd_wind/index.html
  autoapi/simfire/world/wind_mechanics/perlin_wind/index.html
  autoapi/simfire/world/wind_mechanics/wind_controller/index.html
Due: none

Change pyproject.toml version to 1.4.38
  pyproject.toml
Due: none

Fix line 684 in game/managers/fire.py with self.rate_of_spread
  simfire/game/managers/fire.py
Due: black, mypy, isort

Fix bug with cases where w0=0
  simfire/world/rothermel.py
Due: black, mypy, isort

Fix typo and whitespace
  simfire/world/rothermel.py
Due: black, mypy, isort

Change pyproject.toml version to 1.4.39
  pyproject.toml
Due: none

Change pyproject.toml version to 1.4.40
  pyproject.toml
Due: none

updates simulation to use rescale_factor
  run_game.py
Due: black, mypy, isort

removes historical layer params that are unused
  simfire/game/sprites.py
Due: black, mypy, isort

updates game to use rescale factor and allow rectangular screens
  simfire/game/game.py
Due: black, mypy, isort

updates oper. layers to use landfire api/data
  simfire/utils/layers.py
Due: black, mypy, isort

updates cfd wind mechanics for rectangular screens
  simfire/world/wind_mechanics/cfd_wind.py
  simfire/world/wind_mechanics/wind_controller.py
Due: black, mypy, isort

updates packages required for simfire
  pyproject.toml
Due: none

Path conditions:
  black: any of: \.py$, but not: assets/
  mypy: any of: \.py$ and not (tests/) and not (assets/)
  isort: any of: \.py$, but not: assets/
