Repository mitrefireline/simfire: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, isort

.pre-commit-config.yaml:

exclude: 'assets/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-docstring-first
      - id: check-json
      - id: check-added-large-files
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: sort-simple-yaml
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
      - id: mypy
        name: mypy
        exclude: /_tests/
        exclude: tests/
        language: python
        entry: mypy
        args: [--config-file, .mypy.ini]
        # use your preferred Python version
        types: [python]
      - id: isort
        name: isort
        language: python
        entry: isort
        args: [--trailing-comma, -m=3]
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8

Remove assert stmts based on bandit security test
  simfire/game/managers/fire.py
  simfire/utils/layers.py
Due: black, mypy, isort

Change logging format and change prints to logs
  simfire/game/game.py
  simfire/sim/simulation.py
  simfire/utils/config.py
  simfire/utils/decorators.py
  simfire/utils/generate_cfd_wind_layer.py
  simfire/utils/log.py
  simfire/world/wind_mechanics/wind_controller.py
Due: black, mypy, isort

Add bandit to pre-commit and CI
  .gitlab-ci.yml
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  simfire/game/game.py
  simfire/game/managers/fire.py
  simfire/sim/simulation.py
  simfire/utils/config.py
  simfire/utils/decorators.py
  simfire/utils/generate_cfd_wind_layer.py
  simfire/utils/layers.py
  simfire/world/wind_mechanics/wind_controller.py
Due: black, mypy, isort

Add -k option to curl when installing poetry
  .gitlab-ci.yml
Due: none

Change -E to --with in CI
  .gitlab-ci.yml
Due: none

Change pyproject.toml version to 1.4.18
  pyproject.toml
Due: none

Move assets/textures into simfire directory
  pyproject.toml
  simfire/enums.py
  simfire/utils/textures/__init__.py
  simfire/utils/textures/terrain.jpg
Due: black, mypy, isort

Add types-setuptools to poetry.lock for mypy
  poetry.lock
  pyproject.toml
Due: none

Update logger to remove stdout and stderr
  run_game.py
  simfire/utils/log.py
Due: black, mypy, isort

Install types-setuptools in mypy job
  .gitlab-ci.yml
Due: none

Change pyproject.toml version to 1.4.19
  pyproject.toml
Due: none

Add timeout parameter to unittest and coverage job
  .gitlab-ci.yml
Due: none

Change pyproject.toml version to 1.4.20
  pyproject.toml
Due: none

precommit fixes
  configs/operational_config.yml
  historical_tester.py
  simfire/utils/_tests/test_layers.py
  simfire/utils/config.py
Due: black, mypy, isort

Update documentation for new poetry install
  README.md
  docs/source/contributing.md
Due: none

Update layers tests for updated fuel data
  simfire/utils/_tests/test_layers.py
  simfire/utils/log.py
Due: black, mypy, isort

Update log and run_game with logging and black formatting
  run_game.py
  simfire/utils/log.py
Due: black, mypy, isort

Change pyproject.toml version to 1.4.21
  pyproject.toml
Due: none

Remove 'colinear!' message from installed library
  poetry.lock
  pyproject.toml
  simfire/game/sprites.py
  simfire/utils/log.py
Due: black, mypy, isort

Change pyproject.toml version to 1.4.22
  pyproject.toml
Due: none

appeased precommit gods
  historical_tester.py
  src/utils/bp_convert.py
  src/utils/fuel.py
  src/utils/gdal/bp_slice.py
Due: black, mypy, isort

Update lock formatting for newest poetry version
  poetry.lock
Due: none

Add fireline_logo.png into distributed package
  .gitlab-ci.yml
  pyproject.toml
  simfire/game/game.py
  simfire/utils/assets/__init__.py
  simfire/utils/assets/fireline_logo.png
  tests/sim.py
Due: black, mypy, isort

Add dummy to test_release CI job
  .gitlab-ci.yml
Due: none

Update mypy and add no_implicit_optional
  poetry.lock
  pyproject.toml
  simfire/game/managers/fire.py
  simfire/game/sprites.py
  simfire/utils/graph.py
  simfire/utils/terrain.py
  simfire/world/fuel_array_functions.py
  simfire/world/wind_mechanics/perlin_wind.py
  simfire/world/wind_mechanics/wind_controller.py
Due: black, mypy, isort

Add Apache License
  LICENSE
Due: none

Remove drawing fire spread graph unless specified
  run_game.py
Due: black, mypy, isort

Change pyproject.toml version to 1.4.23
  pyproject.toml
Due: none

Change pyproject.toml version to 1.4.24
  pyproject.toml
Due: none

Install --only dev for CI tests
  .gitlab-ci.yml
Due: none

Change pyproject.toml version to 1.4.25
  pyproject.toml
Due: none

burn probability code finished, need to fix bp data in lslab2
  simfire/utils/_tests/test_layers.py
  simfire/utils/layers.py
Due: black, mypy, isort

minor test fix
  simfire/utils/_tests/test_layers.py
Due: black, isort

fixes
  simfire/utils/_tests/test_layers.py
Due: black, isort

Create .nojekyll
  .nojekyll
Due: none

Deploying to gh-pages from @ mitrefireline/simfire@8e05a8d4789ac93b1c75cbf7998f8d668df14117 🚀
  .nojekyll
Due: none

Create .github/workflows/pages.yml
  .github/workflows/pages.yml
Due: none

Update .github/workflows/pages.yml
  .github/workflows/pages.yml
Due: none
