Repository mitrefireline/simfire: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, isort

.pre-commit-config.yaml:

exclude: 'assets/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-docstring-first
      - id: check-json
      - id: check-added-large-files
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: sort-simple-yaml
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
      - id: mypy
        name: mypy
        exclude: /_tests/
        exclude: tests/
        language: python
        entry: mypy
        args: [--config-file, .mypy.ini]
        # use your preferred Python version
        types: [python]
      - id: isort
        name: isort
        language: python
        entry: isort
        args: [--trailing-comma, -m=3]
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8

Change pyproject.toml version to 1.4.26
  pyproject.toml
Due: none

Deploying to gh-pages from @ mitrefireline/simfire@cc256d56a42a6d3c66e173e89b978858505cf211 🚀
  _sources/autoapi/simfire/utils/layers/index.rst.txt
  autoapi/simfire/utils/layers/index.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Change pyproject.toml version to 1.4.27
  pyproject.toml
Due: none

Add h5py to lock and toml
  poetry.lock
  pyproject.toml
Due: none

Add save_data and data_type to configs
  configs/build_wind_config.yml
  configs/functional_config.yml
  configs/mix_config.yml
  configs/operational_config.yml
  simfire/utils/config.py
Due: black, mypy, isort

Add ability to save NPY and H5 sim data
  configs/functional_config.yml
  poetry.lock
  pyproject.toml
  run_game.py
  simfire/sim/simulation.py
Due: black, mypy, isort

Update functional config
  configs/functional_config.yml
Due: none

Add changes to test yml files
  simfire/sim/_tests/test_simulation.py
  simfire/utils/_tests/test_configs/test_config.yml
  simfire/utils/_tests/test_configs/test_config_flat_simple.yml
  simfire/utils/_tests/test_configs/test_config_gaussian.yml
  simfire/utils/_tests/test_configs/test_config_rothermel_manager.yml
Due: black, isort

Change headless to false in functional config
  configs/functional_config.yml
Due: none

Change pyproject.toml version to 1.4.28
  pyproject.toml
Due: none

Convert np.int64 to int so it is JSON serializable
  simfire/utils/config.py
Due: black, mypy, isort

Remove unittests in CI b/c duplicate of "coverage"
  .gitlab-ci.yml
Due: none

Change pyproject.toml version to 1.4.29
  pyproject.toml
Due: none

Changes to Config to allow for random operational
  simfire/utils/config.py
  simfire/utils/layers.py
Due: black, mypy, isort

Add ability to json/jsonlines
  poetry.lock
  pyproject.toml
  simfire/sim/simulation.py
Due: black, mypy, isort

Add h5 to gitignore
  .gitignore
Due: none

implements flipping fuel data on its y-axis for tiling and stacking on correct axis and row data
  simfire/utils/layers.py
Due: black, mypy, isort

Fix dataset creation errors
  simfire/utils/config.py
  simfire/utils/layers.py
Due: black, mypy, isort

Update tif_ to fuel_model_ in test_layers
  simfire/utils/_tests/test_layers.py
Due: black, isort

Update README and publish.yml for github
  .github/workflows/publish.yml
  README.md
Due: none

Update CI/Actions to work on tags
  .github/workflows/pages.yml
  .github/workflows/publish.yml
  .gitlab-ci.yml
Due: none

Change pyproject.toml version to 1.4.30
  pyproject.toml
Due: none

Remove numba and go back to using numpy arrays
  .github/workflows/pages.yml
  docs/source/conf.py
  poetry.lock
  pyproject.toml
  simfire/world/rothermel.py
Due: black, mypy, isort

Remove GPUtil from pyproject and poetry.lock
  poetry.lock
  pyproject.toml
Due: none

Change poetry version back to 1.4.0 for now
  .gitlab-ci.yml
Due: none

Remove all math functions in rothermel.py
  simfire/world/rothermel.py
Due: black, mypy, isort

Update fuel layers and config to look for `old_2020` folder
  simfire/utils/config.py
  simfire/utils/layers.py
Due: black, mypy, isort

Change KNOWN_ROTHERMEL_OUTPUT in tests bc of numba change
  simfire/world/_tests/test_rothermel.py
Due: black, isort

Change pyproject.toml version to 1.4.31
  pyproject.toml
Due: none

Add initial commit for save_gif changes
  simfire/sim/simulation.py
Due: black, mypy, isort

Update simulation.py
  simfire/sim/simulation.py
Due: black, mypy, isort

Allow for multiple different file inputs to save_gif
  simfire/sim/simulation.py
Due: black, mypy, isort

Update save_gif and test to better reflect how it works
  simfire/sim/_tests/test_simulation.py
  simfire/sim/simulation.py
Due: black, mypy, isort

Fix isort error
  simfire/sim/_tests/test_simulation.py
Due: black, isort

Change pyproject.toml version to 1.4.32
  pyproject.toml
Due: none

Add ability to set year in config
  configs/operational_config.yml
  docs/source/config.md
  simfire/utils/config.py
  simfire/utils/layers.py
Due: black, mypy, isort

Add test_config.yml, works with previous commit
  simfire/utils/_tests/test_configs/test_config.yml
Due: none

Add 'year' to OperationalConfig dataclass
  simfire/utils/config.py
Due: black, mypy, isort
