Repository mitrefireline/simfire: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, isort

.pre-commit-config.yaml:

exclude: 'assets/'

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: check-docstring-first
      - id: check-json
      - id: check-added-large-files
      - id: debug-statements
      - id: requirements-txt-fixer
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: sort-simple-yaml
  - repo: local
    hooks:
      - id: black
        name: black
        entry: black
        language: python
        types: [python]
      - id: mypy
        name: mypy
        exclude: /_tests/
        exclude: tests/
        language: python
        entry: mypy
        args: [--config-file, .mypy.ini]
        # use your preferred Python version
        types: [python]
      - id: isort
        name: isort
        language: python
        entry: isort
        args: [--trailing-comma, -m=3]
        types: [python]
  - repo: https://gitlab.com/PyCQA/flake8
    rev: 3.8.3
    hooks:
    -   id: flake8

updates config to use new oper. fuel/elevation layers, rectangular screens
  simfire/utils/config.py
Due: black, mypy, isort

updates perlin wind for rectangular screens
  simfire/world/wind_mechanics/perlin_wind.py
Due: black, mypy, isort

updates test functions on oper. layers
  simfire/utils/_tests/test_layers.py
Due: black, isort

updates config for operational simulation
  configs/operational_config.yml
Due: none

updates simulation script to add fireline
  run_game.py
Due: black, mypy, isort

updates docs for config params
  docs/source/config.md
Due: none

updates simulation for tuple screen size input
  simfire/sim/simulation.py
Due: black, mypy, isort

updates typing of variables for tuple screen size
  simfire/world/wind_mechanics/wind_controller.py
Due: black, mypy, isort

updates dependencies for oper. layers
  docs/source/intro.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

removes unused code from oper. layers
  simfire/utils/layers.py
Due: black, mypy, isort

add dependencies for landfire data/package usage
  poetry.lock
  pyproject.toml
Due: none

updates test configs for tuple screen size
  simfire/utils/_tests/test_configs/test_config.yml
  simfire/utils/_tests/test_configs/test_config_flat_simple.yml
  simfire/utils/_tests/test_configs/test_config_gaussian.yml
  simfire/utils/_tests/test_configs/test_config_rothermel_manager.yml
Due: none

updates tests for tuple screen size from config
  simfire/game/_tests/test_game.py
  simfire/game/_tests/test_sprites.py
  simfire/game/managers/_tests/test_fire.py
  simfire/game/managers/_tests/test_mitigation.py
  simfire/sim/_tests/test_simulation.py
  simfire/world/_tests/test_cfd_wind.py
  simfire/world/_tests/test_wind.py
Due: black, isort

updates setting layer types properly
  simfire/sim/simulation.py
Due: black, mypy, isort

package versioning resolved - update poetry and docs
  docs/source/intro.md
  poetry.lock
  pyproject.toml
  requirements.txt
Due: none

updates configs for tuple sceen size
  configs/build_wind_config.yml
  configs/functional_config.yml
  configs/mix_config.yml
Due: none

Update layer.py to use Pathlib instead of os.path
  simfire/utils/_tests/test_layers.py
  simfire/utils/layers.py
Due: black, mypy, isort

Update simulation.save_path to simulation.sf_home
  .pre-commit-config.yaml
  README.md
  configs/build_wind_config.yml
  configs/functional_config.yml
  configs/mix_config.yml
  configs/operational_config.yml
  docs/source/config.md
  docs/source/intro.md
  simfire/sim/_tests/test_simulation.py
  simfire/sim/simulation.py
  simfire/utils/_tests/test_configs/test_config.yml
  simfire/utils/_tests/test_configs/test_config_flat_simple.yml
  simfire/utils/_tests/test_configs/test_config_gaussian.yml
  simfire/utils/_tests/test_configs/test_config_rothermel_manager.yml
  simfire/utils/config.py
  simfire/utils/generate_cfd_wind_layer.py
  simfire/utils/layers.py
  tests/sim.py
Due: black, mypy, isort

Fix isort issues with black profile
  .gitlab-ci.yml
Due: none

Update saved data to save to a start_time directory
  simfire/sim/simulation.py
Due: black, mypy, isort

updates indexing for rectangular screens
  simfire/sim/simulation.py
Due: black, mypy, isort

Update create_out_path test for sf_home
  simfire/sim/_tests/test_simulation.py
Due: black, isort

Update pyproject.toml version to 1.5.0
  pyproject.toml
Due: none

Update CI to run test_release for pyproject.toml changes
  .gitlab-ci.yml
Due: none

Update publish.yml
  .github/workflows/publish.yml
Due: none

Added fix for agents not getting reset in simulator after a run
  simfire/sim/_tests/test_simulation.py
  simfire/sim/simulation.py
Due: black, mypy, isort

Deploying to gh-pages from @ mitrefireline/simfire@c7659f51161599578a21675709e7bf18531a6005 🚀
  _sources/autoapi/simfire/game/game/index.rst.txt
  _sources/autoapi/simfire/game/sprites/index.rst.txt
  _sources/autoapi/simfire/sim/simulation/index.rst.txt
  _sources/autoapi/simfire/utils/config/index.rst.txt
  _sources/autoapi/simfire/utils/layers/index.rst.txt
  _sources/autoapi/simfire/world/wind_mechanics/wind_controller/index.rst.txt
  _sources/config.md.txt
  _sources/intro.md.txt
  autoapi/simfire/game/game/index.html
  autoapi/simfire/game/sprites/index.html
  autoapi/simfire/sim/simulation/index.html
  autoapi/simfire/utils/config/index.html
  autoapi/simfire/utils/layers/index.html
  autoapi/simfire/world/wind_mechanics/cfd_wind/index.html
  autoapi/simfire/world/wind_mechanics/perlin_wind/index.html
  autoapi/simfire/world/wind_mechanics/wind_controller/index.html
  config.html
  genindex.html
  intro.html
  objects.inv
  searchindex.js
Due: none

Change pyproject.toml version to 1.5.1
  pyproject.toml
Due: none

Swap x,y in config.py, line 729:730
  simfire/utils/config.py
Due: black, mypy, isort

Change pyproject.toml version to 1.5.2
  pyproject.toml
Due: none

Clear the geotiff_data to None after making deepcopy
  simfire/utils/config.py
Due: black, mypy, isort

Change pyproject.toml version to 1.5.3
  pyproject.toml
Due: none

Update dependencies to meet dependabot alerts
  poetry.lock
Due: none

Deploying to gh-pages from @ mitrefireline/simfire@56c53882b64d3ba806041b99d753156c7c1c73ec 🚀
  _static/pygments.css
  autoapi/simfire/game/game/index.html
  autoapi/simfire/game/managers/fire/index.html
  autoapi/simfire/game/managers/mitigation/index.html
  autoapi/simfire/sim/simulation/index.html
  autoapi/simfire/utils/graph/index.html
  autoapi/simfire/utils/units/index.html
  autoapi/simfire/world/rothermel/index.html
  autoapi/simfire/world/wind_mechanics/cfd_wind/index.html
  autoapi/simfire/world/wind_mechanics/perlin_wind/index.html
  autoapi/simfire/world/wind_mechanics/wind_controller/index.html
Due: none

Change pyproject.toml version to 1.5.4
  pyproject.toml
Due: none

Add ability to toggle diagonal spread through config
  configs/build_wind_config.yml
  configs/functional_config.yml
  configs/mix_config.yml
  configs/operational_config.yml
  docs/source/config.md
  simfire/game/managers/fire.py
  simfire/sim/simulation.py
  simfire/utils/_tests/test_configs/test_config.yml
  simfire/utils/_tests/test_configs/test_config_flat_simple.yml
  simfire/utils/_tests/test_configs/test_config_gaussian.yml
  simfire/utils/_tests/test_configs/test_config_rothermel_manager.yml
  simfire/utils/config.py
Due: black, mypy, isort

Fix missing colon in fire.py
  simfire/game/managers/fire.py
Due: black, mypy, isort

Fix black and mypy errors in fire.py
  simfire/game/managers/fire.py
Due: black, mypy, isort

Deploying to gh-pages from @ mitrefireline/simfire@679ea7af0af37415469b9512b546b99a274b5ec7 🚀
  _sources/autoapi/simfire/game/managers/fire/index.rst.txt
  _sources/autoapi/simfire/utils/config/index.rst.txt
  _sources/config.md.txt
  autoapi/simfire/game/managers/fire/index.html
  autoapi/simfire/utils/config/index.html
  config.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Change pyproject.toml version to 1.5.5
  pyproject.toml
Due: none
